@using Microsoft.AspNetCore.Identity

@model HospitalManagement.ViewModels.DashboardVM
@{
    ViewBag.Title = "Admin Dashboard";
}

<div class="container-fluid">

    <div class="row">

        <div class="col-lg-3 col-md-12 col-sm-12  col-xs-12">
            <div class="card-counter primary d-flex">
                <i class="fa-solid fa-list"></i>
                <div class="ms-auto text-end">
                    <h5 class="count-numbers">@Model.DoctorCount</h5>
                    <span class="count-name">Doctors</span>
                </div>
            </div>
        </div>

        <div class="col-lg-3 col-md-12 col-sm-12  col-xs-12">
            <div class="card-counter danger d-flex">
                <i class="fa-solid fa-list-list"></i>
                <div class="ms-auto text-end">
                    <h5 class="count-numbers">@Model.PatientCount</h5>
                    <span class="count-name">Patients</span>
                </div>
            </div>
        </div>

        <div class="col-lg-3  col-md-12 col-sm-12 col-xs-12">
            <div class="card-counter primary d-flex">
                <i class="fa-solid fa-clipboard-list"></i>
                <div class="ms-auto text-end">
                    <h5 class="count-numbers">@Model.PharmacyCount</h5>
                        <span class="count-name">Pharmacy</span>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-12 col-sm-12  col-xs-12">
            <div class="card-counter danger d-flex">
                <i class="fa-solid fa-list-list"></i>
                <div class="ms-auto text-end">
                    <h5 class="count-numbers" id="card1">@Model.LaboratoryCount </h5>
                    <span class="count-name">Laboratory Results</span>
                </div>
            </div>
        </div>
    </div>
  @*  @foreach (var appointment in Model.Appointments)
    {
        <div class="card mb-3">
            <div class="card-body">
                <h5 class="card-title">@appointment.Date.ToShortDateString()</h5>
                <p class="card-text">@appointment.Description</p>
                <p class="card-text">Doctor: @appointment.Doctor.Email</p>
                <p class="card-text">Patient: @appointment.Patient.Email</p>
            </div>
        </div>
    }
*@
    @if (Model.Users != null && Model.Users.Any())
    {
        <div class="card" style="width: 18rem;">

            <div class="card-body">
                <h5 class="card-title">Users</h5>
                <p class="card-text">There are @Model.Users.Count users in the system.</p>
                <div class="list-group">
                    @foreach (var user in Model.Users.Take(4))
                    {
                        <a href="@Url.Action("Edit", "User", new { id = user.Id })" class="list-group-item list-group-item-action">
                            @user.UserName
                        </a>
                    }
                </div>
                @if (Model.Users.Count > 4)
                {
                    <a href="@Url.Action("ListUsers", "AppRoles")" class="btn btn-primary">View All Users</a>
                }
            </div>
        </div>
    }




</div>