@using Microsoft.AspNetCore.Identity
@model IEnumerable<IdentityRole>
@{
    ViewBag.Title = "All Roles";
}
<h1>List Roles</h1>
<p>
    <a asp-action="CreateRole">Create Role</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
                </td>
              
            </tr>
            <tr>
                <td>
                 
                    <form asp-action="DeleteRole" asp-route-id="@item.Id" method="post">
                        <a asp-action="EditRole" asp-route-id="@item.Id" class="btn btn-primary">Edit</a>

                        <span id="confirmDeleteSpan_@item.Id" style="display:none">
                            <span>Are you sure you want to delete?</span>
                            <button type="submit" class="btn btn-danger">Yes</button>
                            <a href="#" class="btn btn-primary"
                               onclick="confirmDelete('@item.Id', false)">No</a>
                        </span>

                        <span id="deleteSpan_@item.Id">
                            <a href="#" class="btn btn-danger"
                               onclick="confirmDelete('@item.Id', true)">Delete</a>
                        </span>
                    </form>
                </td>
            </tr>
        }

    </tbody>
  

</table>
