@model IEnumerable<HospitalManagement.Models.Laboratory>

@{
    ViewData["Title"] = "Laboratory";
}



<div class="container">
    <ul class="nav nav-tabs" id="myTab" role="tablist">
        <li class="nav-item" role="presentation">
            <a class="nav-link active" id="testOrder-tab" data-bs-toggle="tab" href="#testOrder" role="tab" aria-controls="testOrder" aria-selected="true">Test Order Management</a>
        </li>
        <li class="nav-item" role="presentation">
            <a class="nav-link" id="specimenTracking-tab" data-bs-toggle="tab" href="#specimenTracking" role="tab" aria-controls="specimenTracking" aria-selected="false">Specimen Tracking</a>
        </li>
        <li class="nav-item" role="presentation">
            <a class="nav-link" id="sampleAnalysis-tab" data-bs-toggle="tab" href="#sampleAnalysis" role="tab" aria-controls="sampleAnalysis" aria-selected="false">Sample Analysis</a>
        </li>
        <li class="nav-item" role="presentation">
            <a class="nav-link" id="patients-tab" data-bs-toggle="tab" href="#patients" role="tab" aria-controls="patients" aria-selected="false">Patient List</a>
        </li>
    </ul>

    <div class="tab-content">
        <div id="testOrder" class="tab-pane fade show active" role="tabpanel" aria-labelledby="testOrder-tab">
            <p>
                <a asp-action="Create" class="btn btn-primary float-right">Create New</a>
            </p>

            <div class="card-deck">
                @foreach (var item in Model)
                {
                    <div class="card mb-4">
                        <div class="card-header">
Test Order                         </div>
                        <div class="card-body">
                            <table class="table">
                                <tbody>
                                   @* <tr>
                                        <th>Registration Number:</th>
                                        <td>@Html.DisplayFor(modelItem => item.RegistrationNumber)</td>
                                    </tr>*@
                                    <tr>
                                        <th>Order Date:</th>
                                        <td>@Html.DisplayFor(modelItem => item.OrderDate)</td>
                                    </tr>
                                    <tr>
                                        <th>Priority:</th>
                                        <td>@Html.DisplayFor(modelItem => item.Priority)</td>
                                    </tr>

                                    <tr>
                                        <th>Test Name:</th>
                                        <td>@Html.DisplayFor(modelItem => item.TestName)</td>
                                    </tr>
                                    <tr>
                                        <th>Test Type:</th>
                                        <td>@Html.DisplayFor(modelItem => item.TestType)</td>
                                    </tr>
                                    <tr>
                                        <th>Test Performed By:</th>
                                        <td>@Html.DisplayFor(modelItem => item.TestPerformedBy)</td>
                                    </tr>


                                    <tr>
                                        <th>Report:</th>
                                        <td>@Html.DisplayFor(modelItem => item.Report)</td>
                                    </tr>


                                </tbody>
                            </table>
                        </div>
                        <div class="card-footer">
                            <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-primary">Edit</a>
                            <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-primary">Details</a>
                            <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger">Delete</a>
                        </div>
                    </div>
                }
            </div>
        </div>

        <div id="specimenTracking" class="tab-pane fade" role="tabpanel" aria-labelledby="specimenTracking-tab">
            <div class="card-deck">
               
                @foreach (var item in Model)
                {
                    <div class="card mb-4">
                        <div class="card-header">
                            @Html.DisplayFor(modelItem => item.PatientName)
                        </div>
                        <div class="card-body">
                            <table class="table">
                                <tbody>
                                    <!-- Other table rows for specimen tracking details -->
                                    <tr>
                                        <th>Collection Method:</th>
                                        <td>@Html.DisplayFor(modelItem => item.CollectionMethod)</td>
                                    </tr>
                                    <tr>
                                        <th>Collection Date:</th>
                                        <td>@Html.DisplayFor(modelItem => item.CollectionDate)</td>
                                    </tr>
                                    <tr>
                                        <th>Collection Site:</th>
                                        <td>@Html.DisplayFor(modelItem => item.CollectionSite)</td>
                                    </tr>
                                    <tr>
                                        <th>Collection Instructions:</th>
                                        <td>@Html.DisplayFor(modelItem => item.CollectionInstructions)</td>
                                    </tr>
                                    <!-- Other table rows for specimen tracking details -->
                                </tbody>
                            </table>
                        </div>
                        <div class="card-footer">
                            <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-primary">Edit</a>
                            <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-primary">Details</a>
                            <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger">Delete</a>
                        </div>
                    </div>
                }
            </div>
        </div>

        <div id="sampleAnalysis" class="tab-pane fade" role="tabpanel" aria-labelledby="sampleAnalysis-tab">
            <div class="card-deck">
               
                @foreach (var item in Model)
                {
                    <div class="card mb-4">
                        <div class="card-header">
                            Sample Analysis
                        </div>
                        <div class="card-body">
                            <table class="table">
                                <tbody>
                                    <!-- Other table rows for sample analysis details -->
                                    <tr>
                                        <th>Sample Taken:</th>
@*                                        <td>@Html.DisplayFor(modelItem => item.RegistrationNumber)</td>
*@                                    </tr>
                                    <!-- Add other columns specific to the Sample Analysis here -->
                                </tbody>
                            </table>
                        </div>
                        <div class="card-footer">
                            <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-primary">Edit</a>
                            <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-primary">Details</a>
                            <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger">Delete</a>
                        </div>
                    </div>
                }
            </div>
        </div>

        <div id="patients" class="tab-pane fade" role="tabpanel" aria-labelledby="patients-tab">
            <div class="card-deck">
            
                @foreach (var item in Model)
                {
                    <div class="card mb-4">
                        <div class="card-header">
                            @Html.DisplayFor(modelItem => item.PatientName)
                        </div>
                        <div class="card-body">
                            <table class="table">
                                <tbody>
                                    <tr>
                                        <th>Patient Name:</th>
@*                                        <td>@Html.DisplayFor(modelItem => item.RegistrationNumber)</td>
*@                                    </tr>
                                    <!-- Add other columns specific to the Patient List here -->
                                </tbody>
                            </table>
                        </div>
                        <div class="card-footer">
                            <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-primary">Edit</a>
                            <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-primary">Details</a>
                            <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger">Delete</a>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>

</div>

<script>
    $(document).ready(function () {
        $('.nav-tabs a').click(function () {
            $(this).tab('show');
        });
    });
</script>