@model IEnumerable<HospitalManagement.Models.Laboratory>

@{
    ViewData["Title"] = "Laboratory";
}

<h1>Laboratory Results</h1>

<p>
    <a asp-action="Create" class="btn btn-primary float-right">Create New</a>
</p>

    <table class="table table-striped ">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.TestPerformed)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TestPerformedBy)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Report)
            </th>
            <th>

            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.TestPerformed)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TestPerformedBy)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Report)
            </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-primary">Edit</a>
               
                    <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-primary">Details</a>
                
                    <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger">Delete</a>
                </td>
        </tr>
}
    </tbody>
</table>
