@model IEnumerable<HospitalManagement.Models.Laboratory>

@{
    ViewData["Title"] = "Laboratory";
}

<h1>Laboratory Results</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.TestPerformed)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TestPerformedBy)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Report)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.TestPerformed)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TestPerformedBy)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Report)
            </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a>
                </td>
                <td>
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a>
                </td>
                <td>
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
        </tr>
}
    </tbody>
</table>
