@model IEnumerable<HospitalManagement.Models.MedicalHistory>

@{
    Layout = "~/Views/Shared/_NonLayout.cshtml";

    ViewData["Title"] = "Index";
}



<p>

</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Medications)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Allergies)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MedicalCondition)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Medications)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Allergies)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MedicalCondition)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
