@model IEnumerable<HospitalManagement.Models.HospitalMngt>

@{
    ViewData["Title"] = "HospitalManagement";
}

<h1>HospitalManagement</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Wards)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Beds)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.WardCategory)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Floors)
            </th>
           
            <th>
                @Html.DisplayNameFor(model => model.Stations)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
            </td>
            <td>
                    @Html.DisplayFor(modelItem => item.Wards)
            </td>
            <td>
                    @Html.DisplayFor(modelItem => item.Beds)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.WardCategory)
            </td>
            <td>
                    @Html.DisplayFor(modelItem => item.Floors)
            </td>
           
            <td>
                @Html.DisplayFor(modelItem => item.Stations)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
