@model HospitalManagement.Models.Laboratory

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Laboratory</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TestPerformed)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TestPerformed)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TestPerformedBy)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TestPerformedBy)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Report)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Report)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
