@model HospitalManagement.Models.PatientReport

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>PatientReport</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Diagnose)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Diagnose)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MedicineName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MedicineName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Weight)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Weight)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Height)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Height)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BloodPressure)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BloodPressure)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Temprature)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Temprature)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BMI)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BMI)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
