@model HospitalManagement.Models.Bill

@{
    ViewData["Title"] = "Bill Details";
}

<h1>Bill Details</h1>

<div>
    <h4>Bill</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BillNumber)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BillNumber)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DoctorCharge)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DoctorCharge)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MedicineCharge)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MedicineCharge)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LabaratoryCharge)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LabaratoryCharge)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TotalBill)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TotalBill)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id" class="btn btn-primary">Edit</a> |
    <a asp-action="Index" class="btn btn-primary">Back to List</a>
</div>
