@model List<LabResults>

@if (Model != null && Model.Count > 0)
{
      <div class="row">
        @foreach (var labResults in Model)
        {
            <div class="col-md-4">

    <div class="card">
        <div class="card-body">
            <h5 class="card-title">Lab Results</h5>
            <ul class="list-group">
                        <li class="list-group-item"><strong>Test Performed:</strong> @labResults.TestPerformed</li>
                        <li class="list-group-item"><strong>Test Performed By:</strong> @labResults.TestPerformedBy</li>
                        <li class="list-group-item"><strong>Report:</strong> @labResults.Report</li>
            </ul>
        </div>
                    <div class="card-footer mt-2">
                        <a href="@Url.Action("Edit", new { id = labResults.Id })" class="btn btn-primary">Edit</a>
                        <a href="@Url.Action("Delete", new { id = labResults.Id })" class="btn btn-danger">Delete</a>
                    </div>
    </div>
            </div>

        }
    </div>
        
}
else
{
    <p>No lab results available.</p>
}
