@model HospitalManagement.Models.HospitalMngt

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>HospitalMngt</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Wards)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Wards)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Beds)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Beds)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.WardCategory)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.WardCategory)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Floors)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Floors)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsOccupied)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsOccupied)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Stations)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Stations)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
