
@model Patients 

@{
    ViewData["Title"] = " Patient Details";
}

<h1>Patient Details</h1>


    <div class="col-md-12">
        <div class="card mb-4">
    <h4>Patients</h4>
    @using (Html.BeginForm())
    {
        
        <div class="row">
            <div class="col-md-6">
                <div class="form-group row">
                    <label class="col-sm-4 col-form-label col-form-label-sm">
                        @Html.DisplayNameFor(model => model.RegistrationNumber)
                    </label>
                    <div class="col-sm-8">
                        @Html.DisplayFor(model => model.RegistrationNumber)
                    </div>
                    </div>
                    <div class="form-group row">
                    <label class="col-sm-4 col-form-label col-form-label-sm">
                        @Html.DisplayNameFor(model => model.FirstName)
                    </label>
                    <div class="col-sm-8">
                        @Html.DisplayFor(model => model.FirstName)
                    </div>
                </div> 
                <div class="form-group row">
                    <label class="col-sm-4 col-form-label col-form-label-sm">
                        @Html.DisplayNameFor(model => model.LastName)
                    </label>
                    <div class="col-sm-8">
                        @Html.DisplayFor(model => model.LastName)
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-4 col-form-label col-form-label-sm">
                        @Html.DisplayNameFor(model => model.Phone)
                    </label>
                    <div class="col-sm-8">
                        @Html.DisplayFor(model => model.Phone)
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-4 col-form-label col-form-label-sm">
                        @Html.DisplayNameFor(model => model.Address)
                    </label>
                    <div class="col-sm-8">
                        @Html.DisplayFor(model => model.Address)
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-4 col-form-label col-form-label-sm">
                        @Html.DisplayNameFor(model => model.Age)
                    </label>
                    <div class="col-sm-8">
                        @Html.DisplayFor(model => model.Age)
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-4 col-form-label col-form-label-sm">
                        @Html.DisplayNameFor(model => model.Gender)
                    </label>
                    <div class="col-sm-8">
                        @Html.DisplayFor(model => model.Gender)
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-4 col-form-label col-form-label-sm">
                        @Html.DisplayNameFor(model => model.NextOfKin)
                    </label>
                    <div class="col-sm-8">
                        @Html.DisplayFor(model => model.NextOfKin)
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-4 col-form-label col-form-label-sm">
                        @Html.DisplayNameFor(model => model.NextOfKinPhone)
                    </label>
                    <div class="col-sm-8">
                        @Html.DisplayFor(model => model.NextOfKinPhone)
                    </div>
                </div>
                 </div>
            </div>
           
            }
    </div>
    </div>

<div class="col-md-12">
    <div class="card text-center">
        <div class="card-header">
            <!-- Nav tabs -->
            <ul class="nav nav-tabs" id="myTab" role="tablist">
                <li class="nav-item" role="presentation">
                    <a class="nav-link active" href="#home" data-bs-toggle="tab" role="tab" aria-controls="home" aria-selected="true">Vital Signs</a>
                </li>
                <li class="nav-item" role="presentation">
                    <a class="nav-link" href="#medicalhistories" data-bs-toggle="tab" role="tab" aria-controls="medicalhistories" aria-selected="false">Medical History</a>
                </li>
                <li class="nav-item" role="presentation">
                    <a class="nav-link" href="#prescriptions" data-bs-toggle="tab" role="tab" aria-controls="prescriptions" aria-selected="false">Prescriptions</a>
                </li>
                <li class="nav-item" role="presentation">
                    <a class="nav-link" href="#laboratoryresults" data-bs-toggle="tab" role="tab" aria-controls="laboratoryresults" aria-selected="false">Lab Results</a>
                </li>
            </ul>
        </div>

        <!-- Tab panes -->
        <div class="tab-content">
            <div class="tab-pane active" id="home" role="tabpanel" aria-labelledby="home-tab">
                <!-- Include the _VitalSigns partial view -->
                @Html.Partial("_VitalSigns", Model.VitalSigns)
                <a asp-action="VitalSigns" asp-controller="PatientManagement" id="addVitalSignsButton" class="btn btn-primary">Add New Vital Signs</a>
            </div>

            <div class="tab-pane" id="medicalhistories" role="tabpanel" aria-labelledby="medicalhistories-tab">
                <!-- Include the _MedicalHistory partial view -->
                @Html.Partial("_MedicalHistory", Model.MedicalHistories)
                <a asp-action="MedicalHistory" asp-controller="PatientManagement" id="addMedicalHistoryButton" class="btn btn-primary">Add Medical History</a>

            </div>

            <div class="tab-pane" id="prescriptions" role="tabpanel" aria-labelledby="prescriptions-tab">
                <!-- Include the _Prescriptions partial view -->
                @Html.Partial("_Prescriptions", Model.Prescriptions)
                <a asp-action="Prescriptions" asp-controller="PatientManagement" id="addPrescriptionButton" class="btn btn-primary">Add New Prescription</a>

            </div>

            <div class="tab-pane" id="laboratoryresults" role="tabpanel" aria-labelledby="laboratoryresults-tab">
                <!-- Include the _LabResults partial view -->
                @Html.Partial("_LabResults", Model.LaboratoryResults)
                <a asp-action="LabResults" asp-controller="PatientManagement" id="addLabResultsButton" class="btn btn-primary">Add New Lab Results</a>

            </div>
        </div>
    </div>
</div>


                   
                       @* <ul class="nav nav-tabs" id="myTab" role="tablist">
                            <li class="nav-item" role="presentation">
                                <a class="nav-link " asp-area="" asp-controller="VitalSigns" asp-action="Index">Vital Signs</a>


                            </li>
                            <li class="nav-item">
                                <a class="nav-link" asp-area="" asp-controller="MedicalHistories" asp-action="Index">Medical History</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" asp-area="" asp-controller="Prescriptions" asp-action="Index">Prescriptions</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link " asp-area="" asp-controller="Laboratories" asp-action="Index">Lab Results</a>
                            </li>
                        </ul>*@
               @*    </div>
                    <div class="card-body">
                        
                    </div>
                </div>
        </div>

          
            </div>*@
       
          
    

<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id" class="btn btn-primary">Edit</a> 
    <a asp-action="Index" class="btn btn-primary">Back to List</a>
</div>
<script>
    // Add event listeners to the tab links
    document.querySelectorAll('.nav-link').forEach(function (link) {
        link.addEventListener('click', function (event) {
            event.preventDefault();
            // Remove 'active' class from all tab links
            document.querySelectorAll('.nav-link').forEach(function (link) {
                link.classList.remove('active');
            });
            // Add 'active' class to the clicked tab link
            this.classList.add('active');
            // Hide all tab content
            document.querySelectorAll('.tab-pane').forEach(function (tab) {
                tab.style.display = 'none';
            });
            // Show the corresponding tab content
            var targetId = this.getAttribute('href');
            var targetTab = document.querySelector(targetId);
            targetTab.style.display = 'block';
        });
    });
</script>
