@model IEnumerable<HospitalManagement.Models.Patients>


@*    Adding discharge and admitting either means adding a tabbed page or add a dropdown button for that . # Don't forget.
*@
@{
    ViewData["Title"] = "Patients";
}

@*<h1>Patients</h1>
*@
<div class="table-responsive">
<p>
    <a asp-action="Create" class="btn btn-primary">Create New</a>
</p>
<table class="table table-striped ">
    <thead>
        <tr>
                <th>
                    @Html.DisplayNameFor(model => model.RegistrationNumber)
                </th>
            <th>
                @Html.DisplayNameFor(model => model.FirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LastName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Phone)
            </th>
            
            <th>
            </th>
          
          
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.RegistrationNumber)
                 </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FirstName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LastName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Phone)
                </td>
            

            <td>
                    <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-primary">Edit</a>
              
                     <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-primary">Details</a>
              
                    <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger">Delete</a>
                     <a asp-action="AdmitPatient" asp-route-id="@item.Id" class="btn btn-secondary">Admit</a>

           </td>
        </tr>
}
    </tbody>
</table>
</div>